test*

target/
src/test/

plugins/
report/
reports/
settings.properties

# Eclipse Project
.project
.classpath
.settings/

# IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
bin/

# MacOS
*.DS_Store
